// Mise en forme, $Map : variables 
$principale: #9356dc; //pages1,2: Loader; boutons+ronds violets; Cartes coeurs  
$secondaire: #ff79da; //pages1,2: Loader; boutons+ronds violets; Cartes coeurs
$tertiaire: #99e2d0; //pages1,2: Loader; Arrière plan Encart nouveau
$ombre: lightgrey; //pages1,2: En-tête, Boutons, Cartes
$ombre_sombre: rgb(172, 171, 171); //pages 1,2:loader, et Boutons au survol
$arriereplan1: #f6f6f6; //pages1,2: arrieres plans En-tête, Centre page
$arriereplan2: #555; // pages1,2: arriere plan corps de page
$arriereplan_footer: #353535; //page1,2: Couleur arriere plan pied page
$noir: #000; // page 1,2 : Liens de pages
$blanc: #fff;//page1,2: En-tête, Centre page, texte pied page, texte boutons, Cartes
$blanc-gris: #eaeaea; //page1,2: Centre page 
$texte_encart_nouveau: #1a8a68; //page 1: Texte Encart Nouveau
$marge_centre_page: 5vw; // page1,2: marges exterieures Centres pages
$point_rupture: 1024px; // page1,2: point de rupture pour ordinateur de bureau
$transition_timing_fonction: 700ms; //page2: fonction temps transition en millisecondes
