// Mise en forme : pied de page
.footer {
  background-color: $arriereplan_footer;
  color: $blanc;
  padding: $marge_centre_page;
  &_h5 {
    font-family: shrikhand, cursive;
    font-size: larger;
    margin-top: 0px;
  }
// Mise en forme : Lien, pseudo-selecteur
  & a {
    color: $blanc;
    text-decoration: none;
    &:visited {
      color: $blanc;
    }
  }
}
