// Mise en forme Page 1 : En-tête, 4 Menus, 3 Boutons violets 

// Position du corps de page : border-box 
* {
    box-sizing: border-box;
  }
// Corps de page : 
// police d'écriture, 
// point de rupture ordinateur, 
// couleurs arriere plan, liens
  body {
    margin: 0px;
    font-family: Roboto, sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: $arriereplan2;
  }
  .arriere_plan {
    background: $arriereplan1;
  }
// Mise en forme : Lien, pseudo-selecteur 
  a {
    color: $noir;
    text-decoration: none;
    &:visited {
      color: $noir;
    }
  }
  
// Section locatisation du visiteur : flexbox
  .section_localisation {
    padding: 0 5vw;
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
  }

// Section presentation : flexbox, esperluette parent-enfants
// Bouton : explorez nos restaurants
  .section_presentation {
    overflow: hidden;
    padding: 0 $marge_centre_page;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    text-align: center;
    background: linear-gradient($blanc, $blanc-gris);
    & h2 {
      align-self: center;
    }
    &__h3 {
      font-weight: lighter;
    }
  }
  
// Section fonctionnement : flexbox, esperluette parent-enfants
// 3 Boutons blancs : Mise en forme, sans retour à la ligne
  .section_fonctionnement {
    padding: 0 $marge_centre_page 5vw $marge_centre_page;
    &__btn {
      display: flex;
      flex-direction: row;
      background-color: #f6f6f6;
      margin: 1rem;
      padding: 1rem;
      box-shadow: 4px 4px 2px $ombre;
      border-radius: 20px 20px;
      text-align: center; 
      height: 4rem; 
      line-height: 2rem; 
      white-space: nowrap; // sans retour à la ligne
  
      &__etapes {
        border-radius: 50%;
        background-color: $principale;
        color: $blanc;
        position: relative;
        right: 28px;
        padding: 2px 10px;
        & p {
          position: relative;
          bottom: 17px;        
        }
      }
    }
  }
// Section fonctionnement : Mise en forme 3 ronds violets 
  .bouton_violet:hover {
    background-color: lighten($principale, 35%);
    cursor:pointer;
  }
  .fa-store {
    color: $principale;
  }

// Debut Media queries, pour ordinateur : point de rupture 1024px, flexbox 
  @media screen and (min-width: $point_rupture) {
    .section_flexbox {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      width: 100%;
    }
    .section_presentation {
      width: 50%;
      align-items: flex-start;
      text-align: start;
      & h2 {
        align-self: start;
      }
    }
    .section_fonctionnement {
      width: 50%;
      background: linear-gradient($blanc, $blanc-gris);
    }
  }
// Fin Media queries, pour ordinateur : point de rupture 1024px, flexbox 
// Section restaurants : Mise en forme, et esperluette parents-enfants
  .section_restaurants {
    padding: 0 $marge_centre_page;
    background-color: $arriereplan1;
    align-items: center;
    &__titre {
      align-self: start;
    }
  }
// Section cartes : Mise en forme, et esperluette parents-enfants
// @include : @mixin des proprietes des cartes 
  .carte {
    height: fit-content;
    flex: 100%;
    margin: 3vw 0px;
    background-color: $blanc;
    display: flex;
    @include cartes_proprietes;
    overflow: hidden;
    width: 90vw;
    padding: 0px;
    &__img {
      position: relative;
      width: 90vw;
      & img {
        height: 150px;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 20px 20px;
        border-top-right-radius: 20px 20px;
      }
      &__nouveau {
        font-weight: bold;
        z-index: 1;
        background-color: $tertiaire;
        color: $texte_encart_nouveau;
        width: 80px;
        display: block;
        text-align: center;
        right: 1em;
        top: 1em;
        position: absolute;
        height: 2.5em;
        line-height: 0.7em; 
        white-space: nowrap;                
      }
    }
    &__legende {
      display: flex;
      justify-content: space-between;
      height: 65px;
      &__texte {
        padding: 0 1rem;
        border-bottom-left-radius: 20px 20px;
        border-bottom-right-radius: 20px 20px;
        & p {
          font-weight: lighter;
          margin-top: 0.2rem;
          margin-bottom: 0.6rem;
        }
        & h4 {
          margin-top: 0.6rem;
          margin-bottom: 0.2rem;
        }
      }
      &__coeur {
        padding: 0px;
        position: relative;
        bottom: 10px;
      }
    }
  }
// Debut Media queries, pour ordinateur : point de rupture 1024px, flexbox 
  @media screen and (min-width: $point_rupture) {
    .section_restaurant__cartes {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    .carte {
      max-width: 500px;
      margin: 1rem;
      margin-bottom: 3rem;
      &__img {
        max-width: 100%;
      }
    }
  }
  