// Animation : avant-page accueil 
header,
main,
footer {
  animation-name: opacity;
  animation-duration: 2500ms;
  animation-timing-function: cubic-bezier(1, -0.25, 0.93, 0.59);
  animation-delay: 0s;
  animation-iteration-count: 1;
  // animation-direction: normal;  
  animation-fill-mode: forwards;  
}
@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Animation : Loader en cercles

.loader_animation::before
{
  content:"";
  position:relative; 
  display:inline-block;
  vertical-align: middle;
  width:50%;
  height:0%;
}
.loader_cercles::before
{
  position:relative;
  top:25%;
  bottom:50%;
  right:50%;
  left:42%;
  background:url(./images/logo/ohmyfood@2x.svg) no-repeat 1px center; 
}
.loader::before,
.loader_cercles::before
{
  content:"";
  position:absolute;
  animation: lignes linear infinite;
  border-radius: 50px;
  animation-fill-mode: both; 
  border:6px solid transparent;
  width:198px;
  height:180px;  
  color:$noir;

}
  
.loader_cercles::before{
  animation-duration: 15s; 
  border-right-color: $principale;
}
.loader_cercles::before{
  animation-duration: 15s; 
  border-bottom-color: $secondaire;
}
.loader_cercles::before{
  animation-duration: 15s; 
  border-left-color: $tertiaire;
}
.loader_cercles::before{
  animation-duration: 15s; 
  border-top-color: $principale;
}


@keyframes lignes {
0%{
  transform: rotate(-70deg);
    opacity:1;

}
50%{
  transform: rotate(180deg);
    opacity:0.3;
}
100%{
    transform: rotate(360deg);
    opacity:0;

 }
}